.jumboimage{
      background: url(https://static.pexels.com/photos/7919/pexels-photo.jpg);
    background-size: 100% 100%;
    height:600px;
}

/*Body:
-GIve the body element a relatice position for the scrollspy to work.
Add a font family to the whoel page*/
body{
    font-family: 'Vollkorn' , sans-serif;
    position: relative;
}

/*Video:
-Set the video as background,make it fixed.
-make sure it appears behind all elements.
make it spread across the whole webpage*/
video#bgvideo{
    position: fixed;
    min-height: 100%;
    min-width:100%;
    z-index: -100;
}
   
    


/*Video does not work in small devices:
-Hide the video and set picture as background (use media queries)
-make it spread across the whole webpage*/
@media(max-width:768px){
    body{
        background:
            url(https://static.pexels.com/photos/7919/pexels-photo.jpg) center center fixed;
        background-size: cover;
    }
    #bgvideo{
        display:none;
    }
}


/*Style the Home section and elemenets inside it:
-reduce the margin-bottom of h1 and h2.
-style the button and its hover state*/
#home{
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding-top: 15%;
}
#home h1{
    margin-bottom: 30px;
}
#home h2{
    margin-bottom: 50px;
}
#home .btn{
    background-color: rgb(29,167, 179);
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}

#home .btn:hover{
    background-color: rgba(29,167, 179, 0.5);
    color: #fff;
    font-size: 20px;
    padding: 8px 20px;
    border-radius: 8px;
}
/*Style the About Section:
-add, padding-top zo ghG ghd nav link is active before the carousel hits the top border of the page-
limit its width in big devices to 1000px-
make heading bold and set the dimensions of pictures */
.container{
    max-width: 1000px;
}
#about{
    color: #e4ef1e;
    text-align: center;
    padding-top: 100px;
}
#about h2{
    font-weight: bold;
    
}

#about p{
    font-size: 17px;
    margin-bottom: 30px;
}
.aboutImage{
    height: 120px;
}
/*Style the promise section:
-add padding-top for early activation of the nav link.
-set the width of the carousel and center it
-set the height of pictures and center them inside the carousel items
-Move the carousel caption under the pictures
*/
#promise{
    padding-top: 100px;
}
#myCarousel{
    width: 60%;
    margin: 0 auto;

}
.carousel-inner .item img{
    height: 400px;
    margin: 0 auto;
}
.carousel-caption{
    position: relative;
    left: auto;
    right: auto;
    height: 200px;
}

/*Style the pictures and nav-brand for different screens*/
@media(max-width:768px){
    .carousel-inner .item img{
        height: 300px;
    }
    .carousel-inner h2{
        font-size: 23px;
    }
}
@media(max-width:400px){
    .carousel-inner .item img{
        height: 200px;
    }
    .carousel-inner h2{
        font-size: 17px;
    }
    .navbar-custom .navbar-brand{
        font-size: 12px;
    }
}
/*style the footer*/
.footer{
    background-color: rgba(29,167,179, 0.1);
    color: #fff;
    padding: 10px 0;
    margin-top: 150px;
    font-size: 15px;
}

/*Style the navigation bar using a navbar css generator*/
.navbar-custom {
    font-size: 18px;
  background-color: #211d1d;
  border-color: #0f0d0d;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3c3535), to(#211d1d));
  background-image: -webkit-linear-gradient(top, #3c3535, 0%, #211d1d, 100%);
  background-image: -moz-linear-gradient(top, #3c3535 0%, #211d1d 100%);
  background-image: linear-gradient(to bottom, #3c3535 0%, #211d1d 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3c3535', endColorstr='#ff211d1d', GradientType=0);
}
.navbar-custom .navbar-brand {
  color: #ffffff;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #0f0d0d;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #0f0d0d;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c7b8b8;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c7b8b8;
  background-color: #0f0d0d;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0f0d0d), to(#2b2525));
  background-image: -webkit-linear-gradient(top, #0f0d0d, 0%, #2b2525, 100%);
  background-image: -moz-linear-gradient(top, #0f0d0d 0%, #2b2525 100%);
  background-image: linear-gradient(to bottom, #0f0d0d 0%, #2b2525 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0f0d0d', endColorstr='#ff2b2525', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #0e0c0c;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c7b8b8;
  border-bottom-color: #c7b8b8;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #0f0d0d;
  color: #c7b8b8;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c7b8b8;
  border-bottom-color: #c7b8b8;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c7b8b8;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c7b8b8;
    background-color: #0f0d0d;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #c7b8b8;
}