.home{
    
    .info-section{
        padding: 54px;
        width: 35%;
    }
    .content-area{
        margin-left: 35%;
        width: 65%;
        background: white;
        height: 100%;
        // padding:0 0 0 25%;
        .img-container{
           display:inline-block;
           width: 40%;
           position:relative;
           height: 100%;
            .user-img{
               
                position: absolute;
                top:56px;
                left: -150px;
                width: 21rem;
                height: calc(100% - 112px);
                background: url(/img/Pic.png) no-repeat right 0;
               
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover;
                -webkit-box-shadow: 10px 20px 29px -7px rgba(0,0,0,0.92);
                -moz-box-shadow: 10px 20px 29px -7px rgba(0,0,0,0.92);
                box-shadow: 10px 20px 29px -7px rgba(0,0,0,0.92);
            }
        }
       
        .profile-section{
           display:inline-block;
           vertical-align:top;
           padding: 15% 0 0 0;
          .profile{
              h1{
                  font-size: 2.3rem;
                  font-weight: 500;
                  line-height: 1.2;
                  margin: 0 0 1.4rem;
                  span{
                      color: $color1;
                  }
              }
              h5{
                  font-size: 1.1rem;
                  margin: 0 0 2rem;
              }
              p{
                  color: $color5;
                  font-weight: 300;
                  line-height: 1.4;
                  margin: 0 0 2rem;
              }
          }
        }
    }
}


@media (max-width:768px){
    .home{
        .content-area{
            margin-left: 0;
            width:100%;
            
            .img-container{
                padding: 56px 20px 0;
                .user-img{
                    position:static;
                    width:100%;
                }
            }
            .profile-section{
                width:70%;
                float:right;
                padding:20% 20px 0;
            }
        }
    }
 }

@media (min-width:768px){
    .home{
        .content-area{
            .img-container{
                padding: 56px 20px 0;
                .user-img{
                    position:static;
                    width:100%;
                }
            }
            .profile-section{
                width:70%;
                float:right;
                padding:20% 20px 0;
            }
        }
    }
 }
@media (min-width: 992px) and (max-width: 1199px) { }
@media (min-width: 1200px) and (max-width:1368px){}