

.resume{
    overflow: hidden;
    .info-section{
        width: 20%;
    }
       .content-area{
        margin-left: 30%;
        width: 80%;
        min-width: 300px;
        background: white;
        height: 100%;
        padding: 56px;
        .category{
            margin-bottom: 50px;
            h1{
                font-weight: 700;
                font-size: 2rem;
                text-transform: uppercase;
                margin-bottom: 20px;
            }
      
       
             .xp-section{
              display: grid;
              grid-template-columns: 1fr 1fr;
              grid-column-gap: 56px;
              grid-row-gap: 30px;
              max-width: 1000px;
             
              
              .xp-box{
                    padding: 30px;
                    transition: all .3s ease-in-out;
                    cursor: pointer;
                    &:hover{
                      -webkit-box-shadow: 6px 22px 71px -9px rgba(0,0,0,0.33);
                    -moz-box-shadow: 6px 22px 71px -9px rgba(0,0,0,0.33);
                    box-shadow: 6px 22px 71px -9px rgba(0,0,0,0.33);
                   
                    }
                    
                    h5{
                      font-weight: 500;
                      font-size: 1.3rem;
                      margin-bottom: 1.4rem;
                  }
              
                  p{
                      font-weight: 300;
                      font-size: 1rem;
                      margin-bottom: 1rem;
      
                  }
                   
                 }
             }
        }
       
     
     
    }
}